<!--The content below is only a placeholder and can be replaced.-->

<!doctype html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!--<link href="style.css" rel="stylesheet">-->


  </head>
  <body>


    <div class="container-fluid">
      <div class="row">
        <nav class="navbar navbar-expand-lg navbar-light bg-primary fixed-top ">
          <div class="col-sm-1">
            <img class="rounded-circle" style="width:60px; height:60px " alt="repair logo" src="assets/img/repairIcon.jpg">
          </div>
          <div class="col-sm-6">
            <span class="navbar-brand mb-0 h1" style="color: lightgreen">REPAIR WORK ORDER AUTOMATION SYSTEM (RWOAS)</span>
          </div>
                <ul class="navbar-nav ml-auto col-sm-3">

                  <li class="nav-item ">
                    <a class="nav-link" routerLink="/home">Home </a>
                  </li>

                  <li class="nav-item " >
                    <a class="nav-link "  routerLink='/search'>View</a>
                  </li>

                  <li class="nav-item ">
                      <a class="nav-link"  routerLink="/create">Add</a>
                  </li>

                  <li class="nav-item ">
                    <a class="nav-link"  routerLink="/find">Search</a>
                  </li>

                  <li class="nav-item ">
                    <a class="nav-link"  routerLink="/report">Report</a>
                  </li>

              </ul>
         </nav>
        </div>






   </div>
  </body>
</html>
