<!doctype html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  </head>
  <body>
    <div>''</div>
    <div>''</div>
    <div>''</div>
    <div>''</div>
    <div>''</div>



      <div class="container-fluid" >
          <div class="row">

            <div class="card col" id="image">
               <img class="img-fluid rounded" src="assets/img/a.jpg" >
                <h6 class="card-title">Air Conditioning</h6>
                <small calss="card-text">Inspection of Air Conditioner and Refilling refrigerant</small>
            </div>

            <div class="card col " id="image">
                <img class="img-fluid rounded" src="assets/img/b.jpg" >
                <h6 class="card-title">Electrical</h6>
                <small calss="card-text">electrical inspection & replace MCB</small>
            </div>

            <div class="card col" id="image">
                <img class="img-fluid rounded" src="assets/img/c.jpg" >
                <h6 class="card-title">Fire System</h6>
                <small calss="card-text">sprinkler pump rusty</small>
            </div>

             <div class="card col " id="image">
                <img class="img-fluid rounded" src="assets/img/d.jpg" >
                    <h6 class="card-title">Pumping & Drainage</h6>
                  <small calss="card-text">pipe burst</small>
            </div>
        </div>

      </div>

  </body>
</html>
